<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Esto no sale...</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <div class="row">
                <div class="verMantenimientos col-md-6">
                    <h2>Mantenimientos</h1>
                    <section th:replace="~{mantenimientos/fragmentos :: botonesAgregar}"/>
                    <section th:replace="~{mantenimientos/fragmentos :: agregarMantenimiento}"/>
                    <section th:replace="~{mantenimientos/fragmentos :: listadoMantenimientos}"/>
                    
                </div>
                <div class="verLimpiezas col-md-6">
                    <h2>Limpieza</h1>
                    <section th:replace="~{mantenimientos/fragmentos :: botonesAgregar2}"/>
                    <section th:replace="~{mantenimientos/fragmentos :: agregarLimpieza}"/>
                    <section th:replace="~{mantenimientos/fragmentos :: listadoLimpiezas}"/>
                </div>
            </div>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>