<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Esto no sale...</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{habitaciones/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{habitaciones/fragmentos :: agregarHabitacion}"/>
        <section th:replace="~{habitaciones/fragmentos :: reservarHabitacion}"/>
        <section th:replace="~{habitaciones/fragmentos :: listadoHabitaciones2}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>


    </body>

</html>